APP_ENV=dev
HTTP_ADDR=:8080
PUBLIC_BASE_URL=http://localhost:8080

MYSQL_DSN=auth:auth@tcp(127.0.0.1:3000)/authserver?charset=utf8mb4&parseTime=True&loc=Local
AUTO_MIGRATE=true

JWT_SECRET=change-this-secret
JWT_ISSUER=authserver
JWT_TTL_MINUTES=120

SAML_ENTITY_ID=http://localhost:8080/api/v1/saml/metadata
SAML_ACS_URL=http://localhost:8080/api/v1/saml/acs
SAML_IDP_METADATA_URL=http://sso-internal.dev.qiniu.io/saml2/meta
SAML_SP_CERT_FILE=certs/sp.crt
SAML_SP_KEY_FILE=certs/sp.key
